@import "settings";

// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
 "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
 "foundation/components/flex-video",
 "foundation/components/forms",
 "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
 "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
 "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
  "foundation/components/thumbs",
//   "foundation/components/tooltips",
"foundation/components/top-bar",
 "foundation/components/type",
//   "foundation/components/offcanvas",
  "foundation/components/visibility";


/* Global
=========================================== */
.rnd {
	border-radius: convert-to-rem( 6px, $rem-base);
}
.circle {
	border-radius: 50%;
}

/* Banner
=========================================== */

.headline {
	background: $pur url('../images/dist/main-bg.png') no-repeat 200% 100%;
	padding: 200px 0 140px 0;
	margin-bottom: convert-to-rem( 70px, $rem-base);

	@media #{$small-only} {
		text-align: center;
		padding-top: convert-to-rem(95px, $rem-base);
		padding-bottom: convert-to-rem(15px, $rem-base);
		margin-bottom:  convert-to-rem(32px, $rem-base);
		background-position: 10% 10%;
		& .lead {
			font-size: 1em;
			margin-bottom: convert-to-rem(40px, $rem-base);
		}

	}
}

.ft {
	margin-bottom: 72px;
}
.ft-copy {
	padding-top: 30px;
}
.ft-copy p { 
	width: 90%;
}

.ft-icon,
.headline {
	background-image: url('../images/dist/main-bg.png');
	background-color: #a085c6;
}

.device {
	width: 345px;
	height: 589px;
	// width: convert-to-rem(345px, $rem-base);
	// height: convert-to-rem(589px, $rem-base);
	background: url('../images/dist/device-hero.png') no-repeat;
}

/* Layout
=========================================== */

.panel {
	margin-top: convert-to-rem( 10px, $rem-base);
	background-image: url('../imgages/dist/form-panel-bg.png');
	background-repeat: repeat-x;
	border: none;
	border-bottom: solid 1px #e0dfdf;
	padding: 55px 0;
	margin-top: 10px;
	margin-bottom: 100px;

}

.top-bar {
	min-height: convert-to-rem(80px, $rem-base);
	padding-top: convert-to-rem(20px, $rem-base);
	padding-left: 0.9375em;
	padding-right: 0.9375em;
	background: transparent;

	@media #{$small-only} {
		min-height: convert-to-rem(60px, $rem-base);
	}
}

/* Type 
=========================================== */

h1,
h2,
h3 {
	font-weight: 500;
	line-height: 1;
}
h2,
h3 {
	color: #5f5d60;
	font-size: 1.25em;
	margin-bottom: convert-to-rem(16px, $rem-base);
	margin-top: 0;
}
h1 {
	font-size: convert-to-rem(63px, $rem-base);
	font-weight: 200;
	margin-bottom: convert-to-rem(30px, $rem-base);
	text-shadow: 0 1px rgba(0,0,0,.5);

	@media #{$small-only} {
		font-size: 2.25em;

	}

}
p {
	color: #b3aeb5;
	line-height: 1.7;
	font-weight: 200;
}

.lead {
	color: #d5c1f2;
	margin-bottom: convert-to-rem(70px, $rem-base);
}
.lead:nth-of-type(2) {
	font-size: initial;
	margin-bottom: convert-to-rem(20px, $rem-base);
}

.th-copy {
	padding-top: convert-to-rem(30px, $rem-base);

}

.teacher-desc {
	display: block; // Position on 1 line
}

hr {
	margin-bottom: 58px;
}

/* Logos & Icons 
=========================================== */

.main-logo {
	display: inline-block;
	width: convert-to-rem(124px, $rem-base);
	height: convert-to-rem(34px, $rem-base);
	text-indent: 100%;
	white-space: nowrap;
	background: url('../images/dist/main-logo.png') no-repeat;
	background-size: 100%;
	overflow: hidden;

	@media #{$small-only} {
		width: convert-to-rem(82px, $rem-base);
	}


}

.ft-icon {
	width: 94%;
	height: 196px;
	position: relative;
	background-repeat: no-repeat;
	background-position: 270px -180px;
	background-size: 140%;
}
.ft-icon.friends {
	background-position: -500px 0px;
}
.ft-icon.cloud {
	background-position: 260px 0px;
}
.ft-icon:before {
	content: "";
	display: block;
	position: absolute;
	width: 164px;
	height: 102px;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
	margin: auto;
	background: url('../images/dist/feature-icons.png') no-repeat;
	background-size: 100%;
}
.friends:before {
	background-position: 0 -105px;
}
.cloud:before {
	background-position: 0 -210px;
}


[class*="fi-"] {
	margin-right: convert-to-rem(8px, $rem-base);
}

.th-logo {
	width: convert-to-rem(155px, $rem-base);
	margin: -.75em 0 .95em 0;
}
/* Buttons
=========================================== */

.button {
	font-weight: normal;
	background: transparent;
	box-shadow: none;
}

.btn-dl {
	color: inherit;
	border: solid 2px;
	margin-right:  convert-to-rem(10px, $rem-base);
	padding: 12px 22px;
	display: inline-block;

	&:hover {
		background-color: $white;
		border-color: $white;
		color: #957bba;
	}
}

.btn-submit {
	font-size: 1.8em;
	position: absolute;
	padding: 5px;
	border: none;
	right: 65px;
	bottom: convert-to-rem(-5px, $rem-base);

	&:hover {
		background: none;
		color: #8c73b0;
	}
}

.panel .btn-dl:hover {
	background-color: #ccc;
	color: #f7f7f7;
	border-color: #ccc;
}

/* Form
=========================================== */

input.phone-txt {
	padding: 22px 12px;
	width: 90%;
	background-color: #dcdfe1;
	border: 1px solid #d5d5d5;
	border-radius: 4px;
}